.file--wrapper {
  width: 100%;
}

.file {
  width: 100%;
  border: 2px dashed rgb(var(--primary-color));
  box-sizing: border-box;
  position: relative;
}

.file--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.file--content > span {
  color: var(--text-one-color);
  font-size: 0.8rem;
  /* min-width: 200px;
  flex-shrink: 1; */
}

.file--content > div {
  display: flex;
  flex-direction: row;
}

.file--input {
  display: none;
}
